<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Ticket</title>
</head>
<body>

	<h2>Create New Ticket</h2>

	<form th:action="@{/user/tickets/create}" th:object="${ticket}"
		method="post">

		<label>Title</label><br> <input type="text" th:field="*{title}"
			required /><br>
		<br> <label>Description</label><br>
		<textarea th:field="*{description}" required></textarea>
		<br>
		<br>

		<button type="submit">Submit Ticket</button>
	</form>

	<br>
	<a href="/user/tickets">Back to My Tickets</a>

</body>
</html>
