<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Ticket</title>
</head>
<body>

	<h2>Create New Ticket</h2>

	<form th:action="@{/user/tickets/create}" method="post" enctype="multipart/form-data">

    <label>Title</label><br/>
    <input type="text" name="title" required /><br/><br/>

    <label>Description</label><br/>
    <textarea name="description" required></textarea><br/><br/>

    <label>Attach Images</label><br/>
    <input type="file" name="images" multiple accept="image/*"/><br/><br/>

    <button type="submit">Create Ticket</button>
</form>


	<br>
	<a href="/user/tickets">Back to My Tickets</a>

</body>
</html>
