<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2 th:text="${ticket.title}"></h2>
	<p th:text="${ticket.description}"></p>

	<h3>Comments</h3>

	<div th:each="c : ${comments}">
		<p>
			<strong th:text="${c.user.username}"></strong>: <span
				th:text="${c.content}"></span> <small th:text="${c.createdAt}"></small>
		</p>
	</div>

	<form th:action="@{'/user/tickets/' + ${ticket.id} + '/comment'}"
		method="post">
		<textarea name="comment" required></textarea>
		<button type="submit">Reply</button>
	</form>

</body>
</html>