<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>User Login</h2>

<form th:action="@{/login}" method="post">

    <div>
        <label>Email</label>
        <input type="email" name="username" required />
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password" required />
    </div>

    <button type="submit">Login</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>

<p>
    New user? <a th:href="@{/signup}">Signup</a>
</p>

</body>
</html>