
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2 th:text="${ticket.title}"></h2>
	<p th:text="${ticket.description}"></p>
	<h3>Attachments</h3>

	<div th:if="${#lists.isEmpty(images)}">
		<p>No attachments</p>
	</div>


	<div th:if="${images != null}">
		<img th:each="img : ${images}" th:src="@{'/images/' + ${img.id}}"
			width="200" style="margin: 10px; border: 1px solid #ccc" />
	</div>

	<h3>Comments</h3>
	<div th:each="c : ${comments}">
		<p>
			<b th:text="${c.user.username}"></b> : <span th:text="${c.content}"></span>
		</p>
	</div>

	<h3>Status History</h3>
	<ul>
		<li th:each="h : ${statusHistory}"><span th:text="${h.oldStatus}"></span>
			→ <span th:text="${h.newStatus}"></span> by <span
			th:text="${h.changedBy.username}"></span></li>
	</ul>

</body>
</html>
