<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ticket Details</title>
</head>
<body>
	<h2 th:text="${ticket.title}"></h2>
	<p th:text="${ticket.description}"></p>

	<hr>

	<h3>Comments</h3>

	<div th:each="c : ${comments}">
		<p>
			<b th:text="${c.user.username}"></b> <span th:text="${c.createdAt}"></span>
		</p>
		<p th:text="${c.comment}"></p>
		<hr>
	</div>

	<form th:action="@{'/support/tickets/' + ${ticket.id} + '/comment'}"
		method="post">
		<textarea name="comment" required></textarea>
		<button type="submit">Add Comment</button>
	</form>

	<h3>Status History</h3>

	<table border="1">
		<tr>
			<th>From</th>
			<th>To</th>
			<th>Changed By</th>
			<th>At</th>
		</tr>

		<tr th:each="h : ${statusHistory}">
			<td th:text="${h.oldStatus}"></td>
			<td th:text="${h.newStatus}"></td>
			<td th:text="${h.changedBy.username}"></td>
			<td th:text="${h.changedAt}"></td>
		</tr>
	</table>

</body>
</html>



